@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 31, 31;
  --foreground: #231F1F;
  --background: #ffffff;
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --foreground: #ffffff;
  --background: #231F1F;
}

/*[data-theme='green'] {*/
/*  --foreground-rgb: 214, 237, 23;*/
/*  --foreground: #D6ED17FF;*/
/*  --background: #231F1F;*/
/*}*/

/*[data-theme='yellow'] {*/
/*  --foreground-rgb: 254, 231, 21;*/
/*  --foreground: #FEE715FF;*/
/*  --background: #231F1F;*/
/*}*/

* {
  font-family: 'Bai Jamjuree', sans-serif;
  transition: background .3s ease 0s;
}
body {
  color: var(--foreground);
}
/*navbar */
.nav-container {
  background: var(--background);
  padding-inline-start: 3vw;
  padding-inline-end: 3vw;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-bottom: 1px solid var(--foreground);
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 3vw;
}
.nav-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  line-height: 1.2;
  font-weight: 600;
  height: 2.5rem;
  font-size: 18px;
  background: transparent;
  border-radius: .375rem;
}
.color-theme-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: .35rem;
}
.nav-link:hover,
.color-theme-switch:hover {
  background: rgba(var(--foreground-rgb), .18);
}
/*sidebar */
.bm-menu {
  background-color: var(--background);
  padding: 2.5em 1.5em 0;
  font-size: 1.35em;
}

.bm-menu a {
  color: var(--foreground);
  text-decoration: none;
  margin-bottom: 1em;
  display: block;
}

.bm-burger-button {
  position: fixed;
  width: 32px;
  height: 27px;
  right: 24px;
  top: 16px;
}

@media (min-width: 400px) {
  .bm-burger-button {
    display: none;
  }
}
@media (max-width: 400px) {
  .nav-link,
  .color-theme-switch{
    display: none;
  }
}

.bm-burger-bars {
  background: var(--foreground);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: var(--foreground);
}

.bm-menu .bm-item-list .bm-item:before {
  background-color: var(--foreground);
}

.bm-menu .bm-cross-button {
  right: 36px;
  top: 36px;
  height: 24px;
  width: 24px;
}
.bm-item-list.bottom {
  position: absolute;
  bottom: 4rem;
  right: 3rem;
  width: 100%;
  text-align: center;
}
.color-theme-side {
  margin-bottom: 1rem;
}
.color-theme-side > span {
  vertical-align: -0.1em;
  margin-left: .65rem;
}
.color-theme-side > svg {
  display: inline-block;
}


/*background*/

#tsparticles > canvas {
  margin-top: 64px;
}

.page {
  background-color: var(--background);
  min-height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  color: var(--foreground);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.content > h1 {
  font-weight: 600;
  font-size: 48px;
}
@media (max-width: 300px) {
  .content > h1 {
    font-size: 42px;
  }
}
.sec-head {
  font-weight: 600;
  font-size: 28px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.links-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.links-container > a {
  padding: .35rem;
  border-radius: .25rem;
}
.links-container > a:hover {
  background: var(--foreground);
}
.links-container > a:hover > svg {
  fill: var(--background);
}