@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 31, 31;
  --foreground: #000000;
  --background: #F0EAD6;
  --background-secondary: #F5F5DC;
  /*#f1f0ed*/
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --foreground: #ffffff;
  --background: #231F1F;
  --background-secondary: #222222;
}

/*[data-theme='green'] {*/
/*  --foreground-rgb: 214, 237, 23;*/
/*  --foreground: #D6ED17FF;*/
/*  --background: #231F1F;*/
/*}*/

/*[data-theme='yellow'] {*/
/*  --foreground-rgb: 254, 231, 21;*/
/*  --foreground: #FEE715FF;*/
/*  --background: #231F1F;*/
/*}*/

* {
  font-family: 'DM Sans', sans-serif;
  transition: background .3s ease 0s;
}
body {
  color: var(--foreground);
}
/*navbar */
.nav-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1101;
  width: 100%;
  background: var(--background-secondary);
  padding-inline-start: 3vw;
  padding-inline-end: 3vw;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-bottom: 1px solid var(--foreground);
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 3vw;
}
.nav-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  line-height: 1.2;
  font-weight: 600;
  height: 2.5rem;
  font-size: 18px;
  background: transparent;
  border-radius: .375rem;
}
.color-theme-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: .35rem;
}
.nav-link:hover,
.color-theme-switch:hover {
  background: rgba(var(--foreground-rgb), .18);
}
/*sidebar */
.bm-menu {
  background-color: var(--background-secondary);
  padding: 4em 1.5em 0;
  font-size: 1.35em;
  border-left: 1px solid var(--background-secondary);
}

.bm-menu a {
  color: var(--foreground);
  text-decoration: none;
  margin-bottom: 1em;
  display: block;
}

.bm-burger-button {
  position: fixed;
  width: 32px;
  height: 27px;
  right: 24px;
  top: 16px;
}

@media (min-width: 400px) {
  .bm-burger-button {
    display: none;
  }
}
@media (max-width: 400px) {
  .nav-link,
  .color-theme-switch{
    display: none;
  }
}

.bm-burger-bars {
  background: var(--foreground);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: var(--foreground);
}
.bm-item,
.bm-item > span {
  font-weight: 600;
}
.bm-menu .bm-item-list .bm-item:before {
  background-color: var(--foreground);
}

.bm-menu .bm-cross-button {
  right: 36px;
  top: 36px;
  height: 24px;
  width: 24px;
}
.bm-item-list.bottom {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  width: 100%;
  text-align: center;
}
.color-theme-side {
  margin-bottom: 1rem;
}
.color-theme-side > span {
  vertical-align: -0.1em;
  margin-left: .65rem;
}
.color-theme-side > svg {
  display: inline-block;
}


/*background*/

.tsparticles-full-screen {
  margin-top: 64px;
}
.tsparticles-projects-page {
  margin-top: 64px;
}

.container-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  margin-top: 65px;
}

/*projects page */

.page {
  position: relative;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 2rem;
}
.projects-content {
  max-width: 1200px;
  width: 100%;
  background: transparent;
  z-index: 1;
  margin: 65px auto 0;
  padding: 0 1rem;
}
@media (max-width: 400px) {
  .projects-content{
    padding: 0 .5rem;
  }
}
.projects-head {
  font-weight: 500;
  padding: 1rem 0;
  border-bottom: 1px solid var(--foreground);
}
.projects-head > h1 {
  font-size: 60px;
}
.projects-head > p {
  font-size: 20px;
}
.projects-main {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
@media (max-width: 665px){
  .projects-main {
    grid-template-columns: 1fr;
  }
  .projects-head > h1 {
    font-size: 50px;
  }
  .projects-head > p {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .projects-head > h1 {
    font-size: 42px;
  }
  .projects-head > p {
    font-size: 16px;
  }
}
.content {
  color: var(--foreground);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.content > h1 {
  font-weight: 600;
  font-size: 48px;
}
.sec-head {
  font-weight: 600;
  font-size: 28px;
  display: flex;
  gap: .5rem;
}
.sec-head > span {
  white-space: nowrap;
}
@media (max-width: 730px) {
  .sec-head {
    font-size: 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .content > h1 {
    font-size: 36px;
  }
  .sec-head {
    font-size: 20px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.links-container {
  display: flex;
}
.links-container > a {
  padding: .3rem;
  border-radius: .25rem;
}
.links-container > a:hover {
  background: var(--foreground);
}
.links-container > a:hover > svg {
  fill: var(--background);
}

/*project card*/
.card-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--background-secondary);
  border: 1px solid rgba(var(--foreground-rgb), .16);
}
.card-image > img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-info-container {
  padding: .5rem 1rem;
}
.card-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.card-name {
  font-size: 24px;
  font-weight: 600;
}
.card-progress {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 18px;
}
.card-link {
  display: flex;
  align-items: center;
}
.description {
  margin-top: .5rem;
}
.card-tech {
  border-bottom: 1px solid var(--foreground);
  padding: .15rem 0 .5rem;
  display: flex;
  column-gap: 1rem;
  row-gap: .5rem;
  font-weight: 700;
  flex-wrap: wrap;
}
.tech-item {
  display: flex;
  align-items: center;
  gap: .375rem;
  border-radius: .375rem;
  padding: 2px 6px;
  /*border: 1px solid var(--foreground);*/
}
@media (max-width: 400px) {
  .tech-item {
    font-size: 14px;
  }
}
.image-viewer-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-view-container {
  position: relative;
  background-color: var(--background-secondary);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}
@media (max-width: 1370px) {
  .image-view-container {
    max-width: 1000px;
  }
}
@media (max-width: 1150px) {
  .image-view-container {
    max-width: 950px;
  }
}
.image-viewer-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn-container {
  display: none;
}
.nav-btn-desk,
.nav-btn-mob {
  margin: 0 1rem;
  cursor: pointer;
  z-index: 100;
}
.nav-btn-desk {
  color: white;
}
.nav-btn-mob {
  color: var(--foreground);
}
.icon {
  font-size: 1.5rem;
  line-height: 2rem;
}

.image-view {
  border-radius: 0.5rem;
}
.close-viewer {
  display: none;
}
.number-imgs {
  background: #231F1F;
  color: white;
}
@media (max-width: 1080px) {
  .nav-btn-container {
    display: flex;
    padding: .65rem 0;
  }
  .nav-btn-desk {
    display: none;
  }
  .image-viewer-content {
    flex-direction: column;
  }
  .close-viewer {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px;
  }
  .number-imgs {
    color: var(--foreground);
    background: var(--background-secondary);
  }
}